@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Open Sans',sans-serif
}

body{
    background:#e3e2fd;
}

h1{
    background: #5372f0;
    font-size:  1.75rem;
    padding: 18px;
    color: #fff;
    text-align: center;
}

.container{
    display:flex;
    gap: 35px;
    padding: 30px;
}

.weather-input{
    width: 550px;

}

.weather-input input{
    width:100%;
    height: 46px;
    outline:none; 
    padding:0 15px; 
    margin:10px 0 20px 0;
    font-size:1.07rem;
    border-radius:4px;
    border:1px solid #ccc
}
.weather-input .separator{
    height: 1px;
    width:100%;
    background: #bbb;
    margin: 25px 0;
    display:flex;
    justify-content: center;
    align-items: center;

}
.weather-input .separator::before{
    content:"or";
    color:#6c757d;
    font-size:1.18rem;
    padding: 0 15px;
    margin-top:-4px;
    background: #e3f2fd;

}
.weather-input button{
    width:100%;
    padding:10px 0;
    cursor:pointer;
    outline:none;
    border: none;
    color: #fff;
    background: #5372f0;
    border-radius: 4px;
    font-size:1rem; 
}

.weather-input .location-button{
background: #6c757d;

}


.weather-data{
    width: 100%;


}

.current-weather{
    background:#5372f0;
    color:#fff;
    padding:20px 70px 20px 20px; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
 
}

.current-weather h2{
    font-size:1.7rem;
    font-weight:900;

}

.current-weather .details h4{
    margin-top:12px;
    font-size: 1rem;
    font-weight: 800;


}

.current-weather .icon{
    height: 180px;
}

.current-weather .icon img{
    margin-top: 20px;
    margin-right: 30px;

}

.current-weather .icon h4{
    margin-top: 30px;
    margin-left: 10px;
    width:55px;
    text-transform: capitalize;
    font-weight: 800;

}

.days-forecast h2{
    font-size:1.5rem;
    margin: 20px 0;
}

.days-forecast h3{
    font-weight:600;
}

.days-forecast h4{
    font-weight:500;
}

.weather-cards {
    display: flex;
    gap: 20px;
    flex-direction: row;
    

}

.weather-cards .card{
    list-style:none;
    background: #6c757d;
    color:#fff;
    padding: 10px 15px 10px 15px;
    border-radius:5px;
    min-width:fit-content;
    flex:1;
}

.weather-cards .card img{
    width:30px;
    height:30px;
    margin-top: 10px;


}

@media (max-width:1400px){
    .weather-data .current-weather {
        padding:20px;
    }
    .weather-cards{
        display: flex;
        flex-wrap:wrap;

    }
    .weather-cards .card{
        flex-basis:133px;
        flex-shrink:0;
        flex:1;

    }
}

@media (max-width:1200px){
    .weather-cards{
        display: flex;
        flex-wrap:wrap;

    }
    .weather-cards .card{
        flex-basis:133px;

        flex-shrink:0;
        flex:1;

    }
}

@media (max-width:950px){
    .weather-cards{
        display: flex;
        flex-wrap:wrap;

    }

    .weather-cards .card{
        flex-basis:133px;
        flex-shrink:0;
        flex:1;


    }  
}

@media (max-width:750px){
    .weather-cards{
        display: flex;
        flex-wrap:wrap;

    }

    .weather-cards .card{
        flex-basis:133px;
        flex-shrink:0;
        flex: 1;

    }
}




