<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../assets/images/weather-logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../scripts/config.js"></script>
    <script src="../../scripts/script.js" defer></script>
    <title>Home</title>
</head>

<body>
    <h1>Weather Dashboard</h1>
    <div class="container">
        <div class="weather-input">
            <h3>Enter a city name</h3>
            <input class='city-input' type="text" placeholder="E.g., Cairo, Brussels, Berlin">
            <button class="search-button">Search</button>
            <div class="separator"></div>
            <button class="location-button">Use current location</button>

        </div>
        <div class="weather-data">
            <div class="current-weather">
                <div class="details">
                    <h2>London (30-1-2025)</h2>
                    <h4>Temperature: 19.10°C</h4>
                    <h4>Wind: 4.31 m/s</h4>
                    <h4>Humidity: 79%</h4>
                </div>
                <div class="icon">
                    <img src="https://img.icons8.com/?size=55&id=MVj2tmasj0Pp&format=png&color=000000"
                        alt="weather-icon">
                    <h4>Moderate rain</h4>
                </div>
            </div>
            <div class="days-forecast">
                <h2>5-Days Forecast</h2>
                <ul class="weather-cards">
                    <li class="card">
                        <h3>(30-1-2025)</h3>
                        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather-icon">
                        <h4>Temperature: 19.10°C</h4>
                        <h4>Wind: 4.31 m/s</h4>
                        <h4>Humidity: 79%</h4>
                    </li>
                    <li class="card">
                        <h3>(30-1-2025)</h3>
                        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather-icon">
                        <h4>Temperature: 19.10°C</h4>
                        <h4>Wind: 4.31 m/s</h4>
                        <h4>Humidity: 79%</h4>
                    </li>
                    <li class="card">
                        <h3>(30-1-2025)</h3>
                        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather-icon">
                        <h4>Temperature: 19.10°C</h4>
                        <h4>Wind: 4.31 m/s</h4>
                        <h4>Humidity: 79%</h4>
                    </li>
                    <li class="card">
                        <h3>(30-1-2025)</h3>
                        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather-icon">
                        <h4>Temperature: 19.10°C</h4>
                        <h4>Wind: 4.31 m/s</h4>
                        <h4>Humidity: 79%</h4>
                    </li>
                    <li class="card">
                        <h3>(30-1-2025)</h3>
                        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather-icon">
                        <h4>Temperature: 19.10°C</h4>
                        <h4>Wind: 4.31 m/s</h4>
                        <h4>Humidity: 79%</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>