<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../assets/images/weather-logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Weather Dashboard</h1>
    <div class="container">
        <div class="weather-input">
            <h3>Enter a city name</h3>
            <input type="text" placeholder="E.g., Cairo, Brussels, Berlin">
            <button class="search-button">Search</button>
            <div class="separator"></div>
            <button class="location-button">Use current location</button>
         
        </div>
        <div class="weather-data">
            <div class="current-weather">
                <div class="details">
                    <h2>London (29-1-2025)</h2>
                    <h4>Temperature: 19.10 C</h4>
                    <h4>Wind: 4.31 M/S</h4>
                    <h4>Humidity: 79%</h4>
                </div>
                <div class="icon">
                    <img src="https://img.icons8.com/?size=55&id=MVj2tmasj0Pp&format=png&color=000000" alt="weather-icon">
                    <h4>Moderate rain</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>